{% extends "layout.html" %}

{% block title %}
   {{ user }}
{% endblock %}

{% block main %}
<h6 class="text-end"><a class="nav-link" onclick="showLoader()" href="/">Refresh</a></h6>
<div class="table-responsive">


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="text-start">Symbol</th>
            <th scope="text-start">Name</th>
            <th scope="text-end">Shares</th>
            <th scope="text-end">Average</th>
            <th scope="text-end">Invested</th>
            <th scope="text-end">Current Price</th>
            <th scope="text-end">Current Value</th>
            <th scope="text-end">P/L</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        {% if stock.shares > 0 %}
        <tr>

            <td>{{ stock.symbol }}</td>
            <td>{{ stock.stock_name }}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ round(stock.average_price,2) }}</td>
            <td>{{ round(stock.total,2) }}</td>
            <td class="text-right">{{ stock.price }}</td>
            <td>{{ stock.curr_total }}</td>
            <td>{{ round((stock.curr_total - stock.total) ,2) }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>

        <tr>
            <td colspan="4" class="text-center">TOTAL</td>
            <td class="text-center">{{ total_invested }}</td>
            <td></td>
            <td class="text-center">{{ total }}</td>
            <td class="text-center">{{ round(total - total_invested, 2) }}</td>
        </tr>
        <tr>
            <td colspan="6">Cash</td>
            <td class="text-center">{{ usd(cash) }}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="6">Grand Total</td>
            <td class="text-center">{{ usd(round((cash + total),2)) }}</td>
            <td></td>
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}
